{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" method="post">
            {#            {% if error %}#}
            {#                <div class="alert alert-danger">#}
            {#                    {{ error.messageKey|trans(error.messageData, 'security') }}#}
            {#                </div>#}
            {#            {% endif %}#}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connectés en tant que <b>{{ app.user.username }}</b>
                    <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-secondary">Déconnexion</button></a>
                </div>
            {% endif %}

            <h1>Connexion</h1>

            <div class="form-group">
                <label for="email">E-Mail</label>
                <input
                        id="inputEmail"
                        type="email"
                        class="form-control"
                        name="email"
                        {#                            value="{{ last_username }}"#}
                        required
                        autofocus
                />
            </div>

            <div class="form-group">
                <label for="password">Mot de Passe</label>
                <input
                        id="inputPassword"
                        type="password"
                        class="form-control"
                        name="password"
                        required
                />
            </div>

            <input
                    type="hidden"
                    name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
            />

            <div class="form-group">
                <button type="submit" class="btn btn-info"><i class="fa fa-btn fa-sign-in"></i> Connexion</button>
            </div>
        </form>

    </div>
{% endblock %}
