{% extends 'base.html.twig' %}

{% block title %}Pending Debt{% endblock %}

{% block body %}


    {{ dump(pending) }}





    <table>
        <tr>
            <th>Dete</th>
            <th>En vers</th>
            <th>deja rembourser</th>
        </tr>

        {% for p in pending %}
            <tr>
                <td>{{ p.amount }}€</td>
                <td>{{ p.owner.name }}</td>
                <td>{{ p.alreadyRefund / p.amount * 100 }}%</td>
                <td><a href="{{ path('details',{id : p.id}) }}">Acceder a la page de remboursement</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
