{% extends 'base.html.twig' %}

{% block title %}Add Debt !{% endblock %}

{% block body %}

    <h1>Add a new debt</h1>

    {{ form_start(formulaire) }}



    <div>
        {{ form_label(formulaire.creditors, "Personne endeter") }}
        {{ form_widget(formulaire.creditors) }}
    </div>



    <div>
        {{ form_label(formulaire.amount, "Montant") }}
        {{ form_widget(formulaire.amount) }}
    </div>



    <div>
        {{ form_label(formulaire.deadline, "Date de fin") }}
        {{ form_widget(formulaire.deadline) }}
    </div>



    {{ form_end(formulaire) }}


{#    {{ dump(d) }}#}

{% endblock %}
