{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <h1>On va voir si tu es bien connecté ...</h1>
        {% if app.user != null %}
            <img src="https://media1.tenor.com/images/3d190af70cfeea404f796f869f46a3c3/tenor.gif">
            <h1>ABSOLUMENT MAGNIFIQUE ! Tu es connecté !</h1>
        {% endif %}
        {% if app.user == null %}
            <a href="{{ path('app_login') }}" class="btn btn-info">t pas connecté 😜😜 </a>
        {% endif %}
    </div>


    <div class="nav">
        <h2>Profile</h2>
        <a href="">profile</a>
        <a href="">log out</a>
    </div>

    <br>

    <div class="main">
        <div class="button"><a href="{{ path('add_new_debt') }}">Add Debt</a></div>
        <div class="button"><a href="{{ path('debt') }}">Pending</a></div>
        <div class="button"><a href="{{ path('accept') }}">Accept</a></div>
        <div class="button"><a href="{{ path('debt') }}">Deadline</a></div>
    </div>



{% endblock %}
